<%= render 'users/sidebar', user: @user, book: @book %>

<div class="col-xs-9">
    <h2>Book detail</h2>
	<table class = "table">
		<tbody>
			<tr>
				<td class="col-xs-1">
					<p><%= attachment_image_tag @book2.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", :size =>'30x30' %></p>
					<p><%= link_to user_path(@book2.user_id) do %>
							<%= @book2.user.name %>
                       <% end %></p>
				</td>
				<td class="col-xs-2"><%= @book2.title %></td>
				<td class="col-xs-4"><%= @book2.body %></td>
				<td class="col-xs-1">
					<% if @book2.user == current_user %>
						<%= link_to edit_book_path(@book2.id) do %>
							<button class="btn-sm btn-success">Edit</button>
						<% end %>
					<% end %>
				</td>
				<td class="col-xs-1">
					<% if @book2.user == current_user %>
						<%= link_to book_path(@book2.id),method: :delete, data: {confirm: "本当に消しますか？"} do %>
							<button class="btn-sm btn-danger" >Destroy</button>
						<% end %>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
