<!DOCTYPE html>
<html>
  <head>
    <title>Bookers4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = container>
      <h1>Bookers</h1>
      <!-- ログイン前 -->
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>sign up</li>
        <li>login</li>
      </ul>
      </div>
    </header>

    <main class = "container" >
    <%= yield %>
    </main>

    <footer>
      <div  class = "container">
      <p class = "pull-right">CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
