<!DOCTYPE html>
<html>
  <head>
    <title>Bookers4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "container">
      <h1>Bookers</h1>
      <!-- ログイン前 -->
      <% if user_signed_in? %>
        <ul class = "nav navbar-nav navbar-right" date-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
          <li>Home</li>
          <li>Users</li>
          <li>Books</li>
          <li class="">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class = "nav navbar-nav navbar-right" date-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
          <li>Home</li>
          <li>About</li>
          <li>sign up</li>
          <li>login</li>
        </ul>
      <% end %>
      </div>
    </header>

    <main class = "container" >
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    <%= yield %>
    </main>

    <footer>
      <div  class = "container">
      <p class = "pull-right">CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
